<nav>
  <ul class="nav flex-column">
    <li>
      <!-- <a routerLink="/login" routerLinkActive="active"> -->
      <a href="">
        Login
      </a>
    </li>
    <li>
      <!-- <a routerLink="/prestations" routerLinkActive="active"> -->
      <a href="">
        Prestations
      </a>
    </li>
    <li>
      <!-- <a routerLink="/clients" routerLinkActive="active"> -->
      <a href="">
        Clients
      </a>
    </li>
  </ul>
</nav>
<!-- <p *ngIf="item$ | async as item">

  {{ item.client }} selected
</p> -->